*{
padding:0;
margin:0;
box-sizing: border-box;

}
body{
    min-height: 50vh;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background:hs1(137,46%,24%);
    font-family: "poppins",sans-serif;
}
.card{
    max-width:33rem;
    background:greenyellow;
    margin:0rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgb(0,0,0,0);
    width :100%;
    border-radius: 0.5rem;
}
.star{
    font-size: 10vh;
    cursor:pointer;
}
.star .one{
    color: rgb(255,0,0);
}    
.star .two{
    color:rgb(255,106,0);

}
.three{
color:rgb(255,255,120);

}
.four{
    color:rgb(255,255, 0);

} 
.five{
    color:rgb(24,159,14);
}   
